body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 200px;

  background-color: rgb(212, 209, 209);
  border-radius: 5px;
}
.name {
  font-weight: 700;
}

ul {
  padding: 0;
  margin: 0;
}
p {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

li {
  list-style: none;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  display: flex;
  padding-right: 5px;
  padding-bottom: 5px;
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(177, 135, 135);
  border-radius: 5px;
}

.location {
  color: #757575;
  letter-spacing: 0.03em;
}

.avatar {
  margin: 25px 50px;
  width: 100px;
  display: inline-block;
}
